# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Django
*.log
db.sqlite3
/static/
/media/

# Env files
.env

# IDEs and editors
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln
*.sw?
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Python virtual environment
venv/
env/
